


    {include content}
    <script>
        var contentUrlElement = document.getElementById('contentUrl');
        if(contentUrlElement === null) {
          window.location.replace("http://localhost:8000/main/");
        }else{
          $('.ajax_change').on("click",myAjaxHrefHandler);
          $('.queue_fill').on("click",myAjaxQueueHandler);
        }
    </script>
