{block content}
<div class="container" style="color:white;">
<br>
<h1 n:block=title style="color:white;">Přihlásit</h1>

{include bootstrap-form signInForm}
<br>
<a n:href="Homepage:up" style="color: white;">Nejste registrovaní? Registrujte se zde.</a>

</div>
