{block content}
<br>
<p style="text-align:center;">When the application starts, this block is left empty for your own safety.</p>
{/block}

{block scripts}

{include parent}
{/block}


{block head}
{/block}



