{block content}
<br>
{*<div>Obsah queue:<div>
<div>album ID: {$album_id}</div>
<div>playlist ID: {$playlist_id}</div>*}
<div style="width:180px;height:auto;margin:5px;padding:10px;background:#e9e9e9;display:inline-block;border-radius:10px;vertical-align:top;text-align:center;">
    <div style="display:block;"><img id="queueThumb" src=" " height="" width="" style="display: block;margin-left: auto;margin-right: auto;"></div>
    <div style="display:block;" id="artist_name">n/a</div><div style="display:block;"id="album_name">n/a</div><div style="display:block;" id="album_year">n/a</div>
</div>
<table class="table table-striped" style="display:inline-block; width:700px;">
    <thead>
        {*<th><a n:href="default sortmode=>'name ASC', artist_id=>$artist_id ">Název Album</a></th>*}
        {*<th><a n:href="default sortmode=>'year ASC', artist_id=>$artist_id ">Rok vydání</a></th>*}
        {*            <td>{$queue->song_name}</td>
            <td>{$queue->time/60%60}:{$queue->time%60 < 10 ? '0' . $queue->time%60 : $queue->time%60}</td>
            <td>{$queue->album_name}</td>
            <td>{$queue->artist_name}</td>*}
        <th>Track&nbsp;order</th>    
        <th>Track&nbsp;name</th>
        <th>Track&nbsp;length</th>
    </thead>
    <tbody>
        {foreach $queue_list as $queue}
            <tr class="highlightSong">
                {$queue|noescape}
            </tr>
        {/foreach}
    </tbody>
</table>
<script>
    window.__QUEUE__ = JSON.parse({$json});
</script>
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}