{block content}
<div class="container" style="color:white;">
  <div id="link_area">
    <a n:href="Login:in" class="btn btn-primary flex-item" id="login">Login</a>
    <a n:href="Login:up" class="btn btn-primary flex-item" id="signUp">Sign up</a>
  </div>
</div>
