{block content}
<div class="container" style="color:white;">
<br>
<h1 n:block=title style="color:white;">Login</h1>

{include bootstrap-form signInForm}
<br>
<a n:href="Login:up" style="color: white;">Don't have an account yet? Sign up Here.</a>

</div>
