{block content}
<div class="container" style="color: black;">
    <br>
    <h1 n:block=title>Sign up</h1>

    {include bootstrap-form signUpForm}
    <br>
    <a n:href="Login:in" style="color: black;"><u>Already have an account? Login here.</u></a>

</div>